{% extends 'base.html' %}
{% block script %}
<script type="text/javascript"> 
var stripe = Stripe('pk_test_EXt3mYE1qoCd4VK0sQpYsVpH');
var elements = stripe.elements();



// Create an instance of the card Element
var card = elements.create('card');

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

function createToken() {
  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
};

// Create a token when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(e) {
  e.preventDefault();
  createToken();
});
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});



</script>
{% endblock %}
<!-- 
{% block jquery %}
$function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
};
$function createToken() {
  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
};

{% endblock %} -->

{% block content %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<form class="form" action="" method="POST" id="payment-form"> {% csrf_token %}
  <div class ="form-row">
 <label>
 <span>Name</span>
    <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" /> 
  </label> 
  </div>
    <div class="group">
    	<label>
    	<span>Card</span>
  </label>
    <div id="card-element" class="field is-empty"></div>
    </div>
    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>

  <input type="submit" class="submit" value="Submit Payment">
</form>
</div>
</div>


{% endblock %}