<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo</title>

	{% load static %}
	 
     <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href='{% static "assets/bootstrap/css/bootstrap.min.css" %}'>
        <link rel="stylesheet" href='{% static "assets/font-awesome/css/font-awesome.min.css" %}'>
		<link rel="stylesheet" href='{% static "assets/css/form-elements.css" %}'>
        <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href= '{% static "assets/bootstrap/css/bootstrap-theme.css" %}'>


    <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">




    

	
</head>
<body>
<!-- <header>
	<h1>TodoList</h1>
	 {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
	<hr>

</header> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" >ToDo List</a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse"> -->
          <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>  <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
            <!-- <li><a href="/">Home</a></li> -->
            <!-- {% url 'index' as home %}
             <li {% if request.path == index %} class="active" {% endif %}><a href="{% url 'index' %}">Home</a></li> -->            
          </ul>
        <!-- </div> --><!--/.nav-collapse -->
      </div>
    </nav>



<!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
            
        </div>



    <!-- Javascript -->
        <script src='{% static "/assets/js/jquery-1.11.1.min.js" %}'></script>
        <script src='{% static "/assets/bootstrap/js/bootstrap.min.js" %}'></script>
        <script src='{% static "/assets/js/jquery.backstretch.min.js" %}'></script>
        <script src='{% static "/assets/js/scripts.js" %}'></script>
        
        <!-- [if lt IE 10]> -->
            <script src='{% static "assets/js/placeholder.js" %}'></script>
        <!-- <![endif]> -->
</body>
</html>
